{% extends 'base.html' %}
{% load static %}
{% block pagename %}page-about{% endblock %}
{% block content %}
  <section class="block-100vh">
    <div class="block-100vh-media">
          
    </div>
    <div class="site-width">
      <div class="top-block-wrapper">
        
        <div class="request">
          <h1 class="title request-title">О нас</h1>
          <div class="request-description">
            <p class="request-paragraph">
              Мы — digital-агентство полного цикла, предоставляющее услуги комплексного интернет-маркетинга для вашего бизнеса.
Являясь диверсифицированным подразделением со штаб-квартирой в Израиле, мы работаем по международным стандартам с упором на качество и результат. 

Наша команда — грамотные, высококвалифицированные специалисты, настоящие профи в области цифровой рекламы и веб-разработки. Большой опыт работы на международных рынках с крупными корпорациями позволяет нам ставить высокие цели и эффективно их достигать путем кропотливой тщательной работы.
Благодаря регулярному обмену опытом с иностранными подразделениями мы непрерывно развиваемся, открывая новые возможности для профессионального роста.
            </p>
          </div>
          <button class="btn btn-top btn-orange popup_btn">Оставить заявку</button>
        </div>
        
      </div>
      
    </div>
 
  </section>
 
  <section class="reviews">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">Наша команда</h2>
      </div>
      <div class="slider-wrapper">
          <div class="slider2">
            {% for employee in employees %}
            <div class="slide">
              <div class="slide-item slide-about">
                <h3 class="slide-title">{{employee.user.first_name}} {{employee.user.last_name}}</h3>
                <h4 class="slide-subtitle">{{employee.position}}</h4>
                <div class="slide-description">
                  <p class="slide-paragraph">
                    С легкостью для Вас:
                  </p>
                  <ul class="slide-list">
                    <li class="slide-list-item">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor;</li>
                    <li class="slide-list-item">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor;</li>
                    <li class="slide-list-item">lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor;</li>
                  </ul>
                </div>
                <button class="btn cases-btn">Показать работы</button>
              </div> 
              <div class="slide-item slide-member"></div>
            </div>
            {% endfor %}
        </div>
        <div class="slider-nav">
          <div class="slide-item">
            <div class="slide-item-inner">
              <div class="slide-member"></div>
              <div class="slide-item-right">
                <h3 class="slide-title">Name Surname</h3>
                <h4 class="slide-subtitle">Position</h4>
              </div>
            
            </div>
          </div>
          <div class="slide-item">
            <div class="slide-item-inner">
              <div class="slide-member"></div>
              <div class="slide-item-right">
                <h3 class="slide-title">Name Surname</h3>
                <h4 class="slide-subtitle">Position</h4>
              </div>
            
            </div>
          </div>
          <div class="slide-item">
            <div class="slide-item-inner">
              <div class="slide-member"></div>
              <div class="slide-item-right">
                <h3 class="slide-title">Name Surname</h3>
                <h4 class="slide-subtitle">Position</h4>
              </div>
            
            </div>
          </div>
          <div class="slide-item">
            <div class="slide-item-inner">
              <div class="slide-member"></div>
              <div class="slide-item-right">
                <h3 class="slide-title">Name Surname</h3>
                <h4 class="slide-subtitle">Position</h4>
              </div>
            
            </div>
          </div>
         
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">Наши партнеры</h2>
      </div>
    
      <div class="partners-wrapper">
        <span class="partners-honey partners-honey-1"></span>
        <span class="partners-honey partners-honey-2"></span>
        <span class="partners-honey partners-honey-3"></span>
        <span class="partners-honey partners-honey-4"></span>
        <span class="partners-honey partners-honey-5"></span>
        <span class="partners-honey partners-honey-6"></span>
        <span class="partners-honey partners-honey-7"></span>
        <span class="partners-honey partners-honey-8"></span>
        <span class="partners-honey partners-honey-9"></span>
        <span class="partners-honey partners-honey-10"></span>
        
      </div>
    </div>
  </section>
{% endblock %}