{% extends 'base.html' %}
{% load static %}
{% block pagename %}page-about{% endblock %}
{% block pagetitle %}About{% endblock %}
{% block title %}{% trans 'О нас' %} | ART ADS{% endblock %}
{% load i18n %}
{% block content %}
  <section class="block-100vh">
    <div class="block-100vh-media" style="background: url({% static 'assets/images/about.jpg' %})">
          
    </div>
    <div class="site-width">
      <div class="top-block-wrapper">
        
        <div class="request">
          <h1 class="title request-title">{% trans 'О нас' %}</h1>
          <div class="request-description">
            <p class="request-paragraph">
              {% blocktrans %}Мы — digital-агентство полного цикла, предоставляющее услуги комплексного интернет-маркетинга для вашего бизнеса.
Являясь диверсифицированным подразделением со штаб-квартирой в Израиле, мы работаем по международным стандартам с упором на качество и результат. 

Наша команда — грамотные, высококвалифицированные специалисты, настоящие профи в области цифровой рекламы и веб-разработки. Большой опыт работы на международных рынках с крупными корпорациями позволяет нам ставить высокие цели и эффективно их достигать путем кропотливой тщательной работы.
Благодаря регулярному обмену опытом с иностранными подразделениями мы непрерывно развиваемся, открывая новые возможности для профессионального роста.{% endblocktrans %}
            </p>
          </div>
          <button class="btn btn-top btn-orange popup_btn">{% trans 'Оставить заявку' %}</button>
        </div>
        
      </div>
      
    </div>
 
  </section>
 
  <section class="reviews">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Наша команда' %}</h2>
      </div>
      <div class="slider-wrapper">
          <div class="slider2">
            {% for employee in employees %}
            <div class="slide">
              <div class="slide-item slide-about">
                <h3 class="slide-title">{{employee.name}} {{employee.surname}}</h3>
                <h4 class="slide-subtitle">{{employee.position}}</h4>
                <div class="slide-description">
                    <p class="slide-list-item">{{employee.skills.text|safe}}</p>
                </div>
<!--                <button class="btn cases-btn">Показать работы</button>-->
              </div> 
              <div class="slide-item slide-member" style="background: url({{employee.image.photo.url}}) center center/cover no-repeat"></div>
            </div>
            {% endfor %}
        </div>
        <div class="slider-nav">
          {% for employee in employees %}
          <div class="slide-item">
            <div class="slide-item-inner">
              <div class="slide-member" style="background: url({{employee.image.photo.url}}) center center/cover no-repeat"></div>
              <div class="slide-item-right">
                <h3 class="slide-title">{{employee.name}} {{employee.surname}}</h3>
                <h4 class="slide-subtitle">{{employee.position}}</h4>
              </div>

            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </section>
  <section class="partners">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Наши партнеры' %}</h2>
      </div>
    
    <div class="partners-wrapper">
        <span class="partners-honey partners-honey-1 mob-none"></span>
        <span class="partners-honey partners-honey-2 mob-none"></span>
        <span class="partners-honey partners-honey-orange partners-honey-3"><img src="{% static 'assets/images/angels.png' %}" alt="Angels logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-4"><img src="{% static 'assets/images/crumlin.png' %}" alt="Crumlin logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-5"><img src="{% static 'assets/images/hs-reklam.png' %}" alt="h=Hs-reklam logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-6"><img src="{% static 'assets/images/kooziegroup.png' %}" alt="Kooziegroup logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-7"><img src="{% static 'assets/images/painterusa.png' %}" alt="Painter Usa logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-8"><img src="{% static 'assets/images/sherisse.png' %}" alt="Sherisse logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-9"><img src="{% static 'assets/images/thedutchwave.png' %}" alt="The Dutch Wave logo."></span>
        <span class="partners-honey partners-honey-10 mob-none"></span>
    </div>
  </section>
{% endblock %}