<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/src/assets/images/Favicon_Art_Ads.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/src/libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/src/libs/slick-carousel/slick/slick-theme.css">
  <title>ArtAdsAgency || Articles</title>
<link href="main.css" rel="stylesheet"></head>

<body class="page page-artices">

  <!-- HEADER -->
  <header class="header">
    <div class="site-width">
      <div class="header-wrapper">
        <div class="header-inner">
        <a href="/" class="logo">
          <img src="/src/assets/images/logo.png" alt="Logo.">
        </a>
        <a href="/" class="logo-scroll">
          <img src="/src/assets/images/logo-scroll.svg" alt="Logo.">
        </a>
          
        
        <nav class="nav nav-start">
          <ul class="nav-list">
                  <li class="nav-link sub-link"><a href="">Услуги</a>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            <li class="nav-link"><a href="/smm.html">SMM</a></li>
                            <li class="nav-link"><a href="/seo.html">SEO</a></li>
                            <li class="nav-link"><a href="/ppc.html">PPC</a></li>
                            <li class="nav-link"><a href="/web-dev.html">WEB разработка</a></li>
                            <li class="nav-link"><a href="/web-design.html">WEB дизайн</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-link"><a href="/cases.html">Кейсы</a></li>
                  <li class="nav-link"><a href="/all-articles.html">Статьи</a></li>
                  <li class="nav-link"><a href="/about.html">О нас</a></li>
                  <li class="nav-link"><a href="/contacts.html">Контакты</a></li>
          </ul>
        </nav>
        
        </div>
        <div class="language">
                  <ul class="language-list">
                    <li class="language-item"><a href="/">UA</a></li>
                    <li class="language-item"><a href="/">RU</a></li>
                    <li class="language-item"><a href="/">ENG</a></li>
                  </ul>
        </div>
        <div class="scroll-wrapper">
          <button class="btn cases-btn popup_btn">Оставить заявку</button>
          <div class="burger">
            <span class="burger-item burger-top"></span>
            <span class="burger-item burger-middle"></span>
            <span class="burger-item burger-bottom"></span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="burger-menu-back">
       <div class="burger-menu">
        <div class="honeycomb-wrap burger-menu-honeycomb-wrap">
          <ul class="honeycomb burger-menu-honeycomb">
            <span class="honey honey-01 burger-menu-honey-1">
              <p class="honey-text"></p>
            </span>
            <li class="honey honey-02 burger-menu-honey-2 honey-orange">
              <a href="/all-articles.html" class="honey-link"><p class="honey-text">Статьи</p></a>
            </li>
            <li class="honey honey-03 burger-menu-honey-3">
              <a href="" class="honey-link"><p class="honey-text honey-default">Web <br>разработка 
                </p></a>
            </li>
            <li class="honey honey-04 burger-menu-honey-4">
              <a href="/web-dev.html" class="honey-link"><p class="honey-text">Web<br>
                дизайн</p></a>
            </li>
            <li class="honey honey-05 burger-menu-honey-5 honey-orange">
              <a href="/cases.html" class="honey-link"><p class="honey-text">Кейсы</p></a>
            </li>
            <li class="honey honey-06 burger-menu-honey-6">
              <a href="/" class="honey-link">
                <img src="/src/assets/images/logo.png" alt="Logo.">
              </a>
            </li>
            <li class="honey honey-07 burger-menu-honey-7 honey-orange">
              <!-- <div class="back-color"></div> -->
              <a href="/about.html" class="honey-link"><p class="honey-text">О нас</p></a>
            </li>
            <li class="honey honey-08 burger-menu-honey-8">
              <a href="/smm.html" class="honey-link"><p class="honey-text">SMM</p></a>
            </li>
            <li class="honey honey-09 burger-menu-honey-9 honey-orange">
              <a href="/contacts.html" class="honey-link"><p class="honey-text">Контакты</p></a>
            </li>
            <span class="honey honey-010 burger-menu-honey-10">
              <p class="honey-text"></p>
            </span>
            <span class="honey honey-011 burger-menu-honey-11">
             <p class="honey-text"></p>
            </span>
            <span class="honey honey-012 burger-menu-honey-12">
              <p class="honey-text"></p>
            </span>
            <li class="honey honey-013 burger-menu-honey-13">
              <a href="/ppc.html" class="honey-link"><p class="honey-text">PPC</p></a>
            </li>
            <li class="honey honey-014 burger-menu-honey-14">
              <a href="/seo.html" class="honey-link"><p class="honey-text">SEO</p></a>
            </li>
            <li class="honey honey-015 burger-menu-honey-15">
              <a href="/copywriting.html" class="honey-link"><p class="honey-text">Copywriting</p></a>
            </li>
        </ul>
        </div>
       </div>
      </div>
  </header>
  <!-- HEADER END -->

  
  <section class="articles">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">Статьи</h2>
      </div>
      <div class="tab-row tabs">
        <span class="tab-toggle show-all activeClass">ALL</span>
        <span class="tab-toggle web">WEB</span>
        <span class="tab-toggle seo">SEO</span>
        <span class="tab-toggle smm">SMM</span>
    </div>
      <div class="articles-row tabs-content">
        <div class="article filtered-div" id="web" data-web="web"> 
          <div class="article-picture">
            <a href="/" class="article-category">WEB</a>
            <a class="article-picture-link" href="/">
              <img class="article-picture-img" src="/src/assets/images/article1.png" alt="Article."></a>
          </div>
          <div class="article-footer">
            <div class="article-date">
              <div class="article-date-calendar">
                12/06/2021
              </div>
              <div class="article-date-author">
                by Name Surname
              </div>
            </div>
            <div class="article-decsription">
              <p class="article-paragraph article-paragraph--short">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo blanditiis voluptatibus non repudiandae, animi exercitationem esse temporibus ipsam et reiciendis aliquam harum ullam hic minima omnis autem, obcaecati ratione?
              </p>
            </div>
            <a class="article-link" href="/">
              <div class="article-link-text">
                Read more
              </div>
            </a>
          </div>
        </div>
        <div class="article filtered-div" id="seo" data-seo="seo"> 
          <div class="article-picture">
            <a href="/" class="article-category">WEB</a>
            <a class="article-picture-link" href="/">
              <img class="article-picture-img" src="/src/assets/images/article2.png" alt="Article."></a>
          </div>
          <div class="article-footer">
            <div class="article-date">
              <div class="article-date-calendar">
                12/06/2021
              </div>
              <div class="article-date-author">
                by Name Surname
              </div>
            </div>
            <div class="article-decsription">
              <p class="article-paragraph article-paragraph--short">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo blanditiis voluptatibus non repudiandae, animi exercitationem esse temporibus ipsam et reiciendis aliquam harum ullam hic minima omnis autem, obcaecati ratione?
              </p>
            </div>
            <a class="article-link" href="/">
              <div class="article-link-text">
                Read more
              </div>
            </a>
          </div>
        </div>
        <div class="article filtered-div" id="seo" data-seo="seo"> 
          <div class="article-picture">
            <a href="/" class="article-category">WEB</a>
            <a class="article-picture-link" href="/">
              <img class="article-picture-img" src="/src/assets/images/article3.png" alt="Article."></a>
          </div>
          <div class="article-footer">
            <div class="article-date">
              <div class="article-date-calendar">
                12/06/2021
              </div>
              <div class="article-date-author">
                by Name Surname
              </div>
            </div>
            <div class="article-decsription">
              <p class="article-paragraph article-paragraph--short">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo blanditiis voluptatibus non repudiandae, animi exercitationem esse temporibus ipsam et reiciendis aliquam harum ullam hic minima omnis autem, obcaecati ratione?
              </p>
            </div>
            <a class="article-link" href="/">
              <div class="article-link-text">
                Read more
              </div>
            </a>
          </div>
        </div>
        <div class="article filtered-div" id="web" data-web="web"> 
          <div class="article-picture">
            <a href="/" class="article-category">WEB</a>
            <a class="article-picture-link" href="/">
              <img class="article-picture-img" src="/src/assets/images/article1.png" alt="Article."></a>
          </div>
          <div class="article-footer">
            <div class="article-date">
              <div class="article-date-calendar">
                12/06/2021
              </div>
              <div class="article-date-author">
                by Name Surname
              </div>
            </div>
            <div class="article-decsription">
              <p class="article-paragraph article-paragraph--short">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo blanditiis voluptatibus non repudiandae, animi exercitationem esse temporibus ipsam et reiciendis aliquam harum ullam hic minima omnis autem, obcaecati ratione?
              </p>
            </div>
            <a class="article-link" href="/">
              <div class="article-link-text">
                Read more
              </div>
            </a>
          </div>
        </div>
        <div class="article filtered-div" id="smm" data-smm="smm"> 
          <div class="article-picture">
            <a href="/" class="article-category">WEB</a>
            <a class="article-picture-link" href="/">
              <img class="article-picture-img" src="/src/assets/images/article1.png" alt="Article."></a>
          </div>
          <div class="article-footer">
            <div class="article-date">
              <div class="article-date-calendar">
                12/06/2021
              </div>
              <div class="article-date-author">
                by Name Surname
              </div>
            </div>
            <div class="article-decsription">
              <p class="article-paragraph article-paragraph--short">
                Lorem ipsum dolor sit amet consectetur adipisicing elit. Quia quo blanditiis voluptatibus non repudiandae, animi exercitationem esse temporibus ipsam et reiciendis aliquam harum ullam hic minima omnis autem, obcaecati ratione?
              </p>
            </div>
            <a class="article-link" href="/">
              <div class="article-link-text">
                Read more
              </div>
            </a>
          </div>
        </div>
      </div>
      <div class="cases-all">
        <button id="read_more" class="btn cases-btn">Read more</button>
      </div>
    </div>
  </section>
    
  <footer class="footer">
    <div class="site-width">
      <section class="footer-top">
        <div class="footer-logo">
          <a href="/" class="footer-logo-link">
            <img src="/src/assets/images/logo-footer.svg" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="/src/assets/images/facebook-partners.svg" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="/src/assets/images/google-partners.svg" alt="Google Partners.">
          </div>
        </div>
        <div class="footer-contacts">
          <h3 class="footer-title">Контакты</h3>
          <p class="footer-adress">Одесса, Украина <br>
            Французский бульвар, <span class="number">60</span>Д</p>
          <a href="tel:+38 068 278 22 00" class="footer-phone number">+38 068 278 22 00</a>  
          <a href="mailto:inbox@artads.agency" class="footer-mail">inbox@artads.agency</a>
          <div class="social">
            <a href="/" class="social-link"><img src="/src/assets/images/telegram.svg" alt="Instagram."></a>
            <a href="/" class="social-link"><img src="/src/assets/images/instagram.svg" alt="Instagram."></a>
            <a href="/" class="social-link"><img src="/src/assets/images/facebook.svg" alt="Instagram."></a>
          </div>
        </div>
        <div class="footer-services">
          <h3 class="footer-title">Услуги</h3>
          <a href="/seo.html" class="services-link">SEO</a>
          <a href="/smm.html" class="services-link">SMM</a>
          <a href="/ppc.html" class="services-link">PPC</a>
          <a href="/web-design.html" class="services-link">Web дизайн</a>
          <a href="/web-dev.html" class="services-link">Web разработка</a>
        </div>
        <div class="footer-request">
          <h3 class="footer-title">ЗАДАЙТЕ ВАШ ВОПРОС</h3>
          <form action="" class="footer_form">
            <div class="form-wrapper">
              <div class="footer-form-left">
                <input class="input" type="text" placeholder="Имя" required>
                <input class="input" type="email" placeholder="E-mail" required>
              </div>
              <div class="footer-form-right">
                <textarea class="textarea" name="" id="" cols="30" placeholder="Вопрос" required></textarea>
              </div>
            </div>
            <div class="form-footer">
              <button class="btn btn-orange" type="submit">Оставить заявку</button>
            </div>
           
          </form>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="footer-years">
          <p>&copy; ART ADS <span class="number">2011-2021</span></p>
        </div>
        <nav class="nav">
          <ul class="nav-list">
                  <li class="nav-link sub-link"><a href="">Услуги</a>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            <li class="nav-link"><a href="/smm.html">SMM</a></li>
                            <li class="nav-link"><a href="/seo.html">SEO</a></li>
                            <li class="nav-link"><a href="/ppc.html">PPC</a></li>
                            <li class="nav-link"><a href="/web-dev.html/">WEB разработка</a></li>
                            <li class="nav-link"><a href="/web-design.html">WEB дизайн</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-link"><a href="/cases.html">Кейсы</a></li>
                  <li class="nav-link"><a href="/all-articles.html">Статьи</a></li>
                  <li class="nav-link"><a href="/about.html">О нас</a></li>
                  <li class="nav-link"><a href="/contacts.html">Контакты</a></li>
          </ul>
        </nav>
        <div class="footer-privacy-block">
          <!-- <a href="/" class="privacy-item">Условия пользования</a> -->
          <a href="/" class="privacy-item">Политика конфиденциальности</a>
        </div>
      </section>
      
      </div>
    
  </footer>

  <div class="popup popup_func">
    <div class="popup_dialog">
      <div class="popup_content text-center">
        <button type="button" class="popup_close"><img src="/src/assets/images/close.svg" alt="Close button."></button>
        <h2 class="title">Заголовок (УТП)</h2>
        <div class="popup_form">
          <form class="form" action="#">
            <p class="popup_descr">Оставляйте заявку прямо сейчас и получайте эксклюзивное предложение!</p>
            <div class="input_row">
              <div class="input-item">
                <label for="user_name">Имя</label>
                <input class="form-control form_input" name="user_name" required type="text" placeholder="Введите имя">
              </div>
              <div class="input-item">
                <label for="user_phone">Телефон</label>
                <input class="form-control form_input mask-phone" name="user_phone" required type="tel" placeholder="Введите телефон">
              </div>
              <div class="input-item">
                <label for="user_email">E-mail</label>
                <input class="form-control form_input" name="user_email" required type="email" placeholder="Введите e-mail">
              </div>
              
            </div>
            <div class="row-center"><button class="btn btn-top btn-orange" name="submit" type="submit">Оставить заявку</button></div>
            
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="app.js"></script> -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/src/libs/slick-carousel/slick/slick.min.js"></script>
   
<script src="vendors~main.js"></script><script src="main.js"></script></body>

</html>