{% load static %}
{% load socialaccount %}
{% load i18n %}
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="{% static 'assets/images/Favicon_Art_Ads.ico' %}" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="{% static 'libs/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'libs/slick-carousel/slick/slick-theme.css' %}">
  <title>ArtAdsAgency || Home</title>
<link href="{% static 'main.css' %}" rel="stylesheet">
  <style></style>
</head>

<body class="page {% block pagename %}main-page{% endblock %}">

  <!-- HEADER -->
  {% if user.is_authenticated %}
    <p>{% trans "Welcome, You are logged in as" %} {{ user.username }}</p>
  {% else %}
    <a href="{% provider_login_url 'google' %}">Login With Google</a>
    <a href="{% provider_login_url 'facebook' method='oauth2' %}">Facebook OAuth2</a>
  {% endif %}
  <header class="header">
    <div class="site-width">
      <div class="header-wrapper">
        <div class="header-inner">
        <a href="/" class="logo mob-none">
          <img src="{% static 'assets/images/logo.svg' %}" alt="Logo.">
        </a>
        <a href="/" class="logo-scroll">
          <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
        </a>


        <nav class="nav nav-start mob-none">
          <ul class="nav-list">
                  <li class="nav-link sub-link"><a href="">Услуги</a>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            {% for service in services_categories %}
                              <li class="nav-link"><a href="{% url 'services:article' slug=service.article.slug %}">{{service.name}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-link"><a href="{% url 'cases:list' %}">Кейсы</a></li>
                  <li class="nav-link"><a href="{% url 'articles:list' %}">Статьи</a></li>
                  <li class="nav-link"><a href="{% url 'about' %}">О нас</a></li>
                  <li class="nav-link"><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>
        </nav>

        </div>
        <div class="language">
                  <ul class="language-list">
                    <li class="language-item"><a href="/">UA</a></li>
                    <li class="language-item"><a href="/">RU</a></li>
                    <li class="language-item"><a href="/">ENG</a></li>
                  </ul>
        </div>
        <div class="scroll-wrapper">
          <button class="btn cases-btn popup_btn mob-none">Оставить заявку</button>
          <div class="burger">
            <span class="burger-item burger-top"></span>
            <span class="burger-item burger-middle"></span>
            <span class="burger-item burger-bottom"></span>
          </div>
        </div>
      </div>

    </div>
    <div class="burger-menu-back">
       <div class="burger-menu">
        <div class="honeycomb-wrap burger-menu-honeycomb-wrap">
          <ul class="honeycomb burger-menu-honeycomb">
            <span class="honey honey-01 burger-menu-honey-1 mob-none">
              <p class="honey-text"></p>
            </span>
          {% for service in services_categories %}
            {% if forloop.counter|add:1 != 6 %}
            <li class="honey honey-{{ forloop.counter|add:1 }} burger-menu-honey-{{ forloop.counter|add:1 }}">
              <a href="{% url 'services:article' slug=service.article.slug %}" class="honey-link"><p class="honey-text">{{service.name}}</p></a>
            </li>
            {% endif %}
          {% endfor %}
            <li class="honey honey-06 burger-menu-honey-6">
              <a href="/" class="honey-link">
                <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
              </a>
            </li>
        </ul>
        </div>
       </div>
      </div>
  </header>
  <!-- HEADER END -->

  {% block content %}
  {% endblock %}
<footer class="footer">
    <div class="site-width">
      <section class="footer-top">
        <div class="footer-logo mob-none">
          <a href="/" class="footer-logo-link">
            <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="{% static 'assets/images/facebook-partners.svg' %}" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="{% static 'assets/images/google-partners.svg' %}" alt="Google Partners.">
          </div>
        </div>
        <div class="footer-contacts">
          <h3 class="footer-title">Контакты</h3>
          <p class="footer-adress">Одесса, Украина <br>
            Французский бульвар, <span class="number">60</span>Д</p>
          <a href="tel:+38 068 278 22 00" class="footer-phone number">+38 068 278 22 00</a>
          <a href="mailto:inbox@artads.agency" class="footer-mail">inbox@artads.agency</a>
          <div class="social">
            <a href="/" class="social-link"><img src="{% static 'assets/images/telegram.svg' %}" alt="Instagram."></a>
            <a href="/" class="social-link"><img src="{% static 'assets/images/instagram.svg' %}" alt="Instagram."></a>
            <a href="/" class="social-link"><img src="{% static 'assets/images/facebook.svg' %}" alt="Instagram."></a>
          </div>
        </div>
        <div class="footer-services">
          <h3 class="footer-title">Услуги</h3>
          {% for service in services_categories %}
            <a href="{% url 'services:article' slug=service.article.slug %}" class="services-link">{{service.name}}</a>
          {% endfor %}
        </div>
        <div class="footer-request">
          <h3 class="footer-title">ЗАДАЙТЕ ВАШ ВОПРОС</h3>
          <form action="" class="footer_form">
            <div class="form-wrapper">
              <div class="footer-form-left">
                <input class="input" type="text" placeholder="Имя" required>
                <input class="input" type="email" placeholder="E-mail" required>
              </div>
              <div class="footer-form-right">
                <textarea class="textarea" name="" id="" cols="30" placeholder="Вопрос" required></textarea>
              </div>
            </div>
            <div class="form-footer">
              <button class="btn btn-orange" type="submit">Оставить заявку</button>
            </div>

          </form>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="footer-years">
          <p>&copy; ART ADS <span class="number">2011-2021</span></p>
        </div>
        <nav class="nav">
          <ul class="nav-list">
                  <li class="nav-link sub-link"><a href="">Услуги</a>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            {% for service in services_categories %}
                              <li class="nav-link"><a href="{% url 'services:article' slug=service.article.slug %}">{{service.name}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-link"><a href="{% url 'cases:list' %}">Кейсы</a></li>
                  <li class="nav-link"><a href="{% url 'articles:list' %}">Статьи</a></li>
                  <li class="nav-link"><a href="{% url 'about' %}">О нас</a></li>
                  <li class="nav-link"><a href="{% url 'contacts' %}">Контакты</a></li>
          </ul>
        </nav>
        <div class="footer-privacy-block">
          <!-- <a href="/" class="privacy-item">Условия пользования</a> -->
          <a href="{% url 'privacy' %}" class="privacy-item">Политика конфиденциальности</a>
        </div>
        <div class="footer-logo desktop-none">
          <a href="/" class="footer-logo-link">
            <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="{% static 'assets/images/facebook-partners.svg' %}" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="{% static 'assets/images/google-partners.svg' %}" alt="Google Partners.">
          </div>
        </div>
      </section>

      </div>

  </footer>
  {% block footer %}
  {% endblock %}

  <div class="popup popup_func">
    <div class="popup_dialog">
      <div class="popup_content text-center">
        <button type="button" class="popup_close"><img src="{% static 'assets/images/close.svg' %}" alt="Close button."></button>
        <h2 class="title">Заголовок (УТП)</h2>
        <div class="popup_form">
          <form class="form" action="#">
            <p class="popup_descr">Оставляйте заявку прямо сейчас и получайте эксклюзивное предложение!</p>
            <div class="input_row">
              <div class="input-item">
                <label for="user_name">Имя</label>
                <input class="form-control form_input" name="user_name" required type="text" placeholder="Введите имя">
              </div>
              <div class="input-item">
                <label for="user_phone">Телефон</label>
                <input class="form-control form_input mask-phone" name="user_phone" required type="tel" placeholder="Введите телефон">
              </div>
              <div class="input-item">
                <label for="user_email">E-mail</label>
                <input class="form-control form_input" name="user_email" required type="email" placeholder="Введите e-mail">
              </div>

            </div>
            <div class="row-center"><button class="btn btn-top btn-orange" name="submit" type="submit">Оставить заявку</button></div>

          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- <script src="app.js"></script> -->
  <script type="text/javascript" src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="{% static 'libs/slick-carousel/slick/slick.min.js' %}"></script>
  <script src="{% static 'vendors~main.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>
  {% block scripts %}
  {% endblock %}
</body>

</html>

