{% load static %}
{% load socialaccount %}
{% load i18n %}
{% load custom_tags %}
{% url 'about' as about_url %}
{% url 'contacts' as contacts_url %}
{% url 'privacy' as privacy_url %}
{% get_current_language as LANGUAGE_CODE %}
{% get_available_languages as LANGUAGES %}
{% get_language_info_list for LANGUAGES as languages %}
<!DOCTYPE html>
<html lang="{{LANGUAGE_CODE}}">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <meta name="description" content="{% block description %}{% trans 'Помогаем бизнесу расти, увеличивая продажи с помощью комплексного интернет-маркетинга: SEO, PPC, Web дизайн, Web разработка, Copywriting!' %}{% endblock %}" />
  {% for language in languages %}
    <link rel="alternate" href="https://{{ request.get_host }}{% if language.code != DEFAULT_LANGUAGE %}/{{ language.code}}{% endif %}{{ request.path|clean_link }}" hreflang="{{ language.code }}" />
  {% endfor %}
  <link rel="icon" href="{% static 'assets/images/Favicon_Art_Ads.ico' %}" type="image/x-icon">
  <link rel="canonical" href="{% block canocical %}{{ request.get_full_path }}{% endblock %}" />
  {% block og %}{% endblock %}
  {% block schema %}{% endblock %}
  <meta name='robots' content='{% block robots %}INDEX, FOLLOW, MAX-IMAGE-PREVIEW:-1{% endblock %}' />
  <link rel="stylesheet" type="text/css" href="{% static 'libs/slick-carousel/slick/slick.css' %}">
  <link rel="stylesheet" type="text/css" href="{% static 'libs/slick-carousel/slick/slick-theme.css' %}">
  <title>{% block title %}{% trans 'Маркетинговое digital-агентство полного цикла' %}{% trans 'Маркетинговое агентство полного цикла Art Ads - дизайн, продвижение, создание сайтов' %}{% endblock %}</title>
  <link href="{% static 'main.css' %}" rel="stylesheet">
   <!-- Google Tag Manager -->
  <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-KG3GRMH');</script>
  <!-- End Google Tag Manager -->

</head>

<body class="page {% block pagename %}main-page{% endblock %}">

  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-KG3GRMH"
  height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->

  <!-- HEADER -->
  <header class="header">
    <h1 style="position: absolute; left:-1000px; width:1px; height:1px; overflow:hidden;">{% trans 'Основное меню навигации сайта' %}</h1>
    <div class="site-width">
      <div class="header-wrapper">
        <div class="header-inner">
        <a href="{% url 'index' %}" class="logo mob-none">
          <img src="{% static 'assets/images/logo.svg' %}" alt="Logo.">
        </a>
        <a href="{% url 'index' %}" class="logo-scroll">
          <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
        </a>
        <nav class="nav nav-start mob-none">
          <ul class="nav-list">
                  <li class="nav-link sub-link"><span>{% trans 'Услуги' %}</span>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            {% for service in services_categories %}
                              <li class="nav-link"><a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'services:article' slug=service.article.slug %}">{{service.name}}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li>
                  <li class="nav-link"><a href="{% url 'cases:list' %}">{% trans 'Кейсы' %}</a></li>
                  <li class="nav-link"><a href="{% url 'articles:list' %}">{% trans 'Статьи' %}</a></li>
                  <li class="nav-link"><a href="{% url 'about' %}">{% trans 'О нас' %}</a></li>
                  <li class="nav-link"><a href="{% url 'contacts' %}">{% trans 'Контакты' %}</a></li>
          </ul>
        </nav>

        </div>
        <div class="language">
            <ul class="language-list">
              {% for language in languages %}
                <li class="language-item"><a href='{% if language.code != DEFAULT_LANGUAGE %}/{{ language.code}}{% endif %}{{ request.path|clean_link }}'>{{ language.code|upper }}</a></li>
              {% endfor %}
            </ul>
        </div>
         <div class="language desktop-none">
            {% get_available_languages as LANGUAGES %}
            {% get_language_info_list for LANGUAGES as languages %}
            <ul class="language-list">
              {% for language in languages %}
                <li class="language-item"><a href='{% if language.code != DEFAULT_LANGUAGE %}/{{ language.code}}{% endif %}{{ request.path|clean_link }}'>{{ language.code|upper }}</a></li>
              {% endfor %}
            </ul>
        </div>
        <div class="scroll-wrapper">
          <button class="btn cases-btn popup_btn mob-none">{% trans 'Оставить заявку' %}</button>
          <div class="burger">
            <span class="burger-item burger-top"></span>
            <span class="burger-item burger-middle"></span>
            <span class="burger-item burger-bottom"></span>
          </div>
        </div>
      </div>

    </div>
    <div class="burger-menu-back">
       <div class="burger-menu">
        <div class="honeycomb-wrap burger-menu-honeycomb-wrap">
          <ul class="honeycomb burger-menu-honeycomb">
            <li class="honey honey-01 burger-menu-honey-1 mob-none">
              <p class="honey-text"></p>
            </li>
            {% for service in services_categories %}
              <li class="honey honey-0{% if forloop.counter|add:1 == 6 or forloop.counter|add:1 > 6 %}{{ forloop.counter|add:2 }}{% else %}{{ forloop.counter|add:1 }}{% endif %} burger-menu-honey-{% if forloop.counter|add:1 == 6 or forloop.counter|add:1 > 6 %}{{ forloop.counter|add:2 }}{% else %}{{ forloop.counter|add:1 }}{% endif %} {% if forloop.counter|stringformat:'i' in '257' %}honey-orange{% endif %}">
                <a href="{% if service.article %}{% url 'services:article' slug=service.article.slug %}{% endif %}" class="honey-link"><p class="honey-text">{{service.name}}</p></a>
              </li>
            {% endfor %}
            <li class="honey honey-06 burger-menu-honey-6">
              <a href="{% url 'index' %}" class="honey-link">
                <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
              </a>
            </li>
            <li class="honey honey-016 burger-menu-honey-9 honey-orange">
              <a href="{% url 'about' %}" class="honey-link"><p class="honey-text">{% trans 'О нас' %}</p></a>
            </li>
            <span class="honey honey-010 burger-menu-honey-10 mob-none">
              <p class="honey-text"></p>
            </span>
            <span class="honey honey-011 burger-menu-honey-11 mob-none">
              <p class="honey-text"></p>
            </span>
            <span class="honey honey-012 burger-menu-honey-12 mob-none">
              <p class="honey-text"></p>
            </span>
            <li class="honey honey-013 burger-menu-honey-13">
              <a href="{% url 'contacts' %}" class="honey-link"><p class="honey-text">{% trans 'Контакты' %}</p></a>
            </li>
            <li class="honey honey-014 burger-menu-honey-14">
              <a href="{% url 'cases:list' %}" class="honey-link"><p class="honey-text">{% trans 'Кейсы' %}</p></a>
            </li>
            <li class="honey honey-015 burger-menu-honey-15">
              <a href="{% url 'articles:list' %}" class="honey-link"><p class="honey-text">{% trans 'Статьи' %}</p></a>
            </li>
        </ul>
        </div>
       </div>
      </div>
  </header>
  <!-- HEADER END -->

  {% block content %}
  {% endblock %}
<footer class="footer">
  <h2 style="position: absolute; left:-1000px; width:1px; height:1px; overflow:hidden;">{% trans 'Навигация и информация' %}</h2>
    <div class="site-width">
      <section class="footer-top">
        <div class="footer-logo mob-none">
          <a href="{% url 'index' %}" class="footer-logo-link">
            <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="{% static 'assets/images/facebook-partners.svg' %}" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="{% static 'assets/images/google-partners.svg' %}" alt="Google Partners.">
          </div>
        </div>
        <div class="footer-contacts">
          <h3 class="footer-title">{% trans 'Контакты' %}</h3>
          <p class="footer-adress">{% trans 'Одесса, Украина' %}<br>
            {% trans 'Французский бульвар' %}, <span class="number">60</span>{% trans 'Д' %}</p>
          <a href="tel:+380682782200" class="footer-phone number">+38 068 278 22 00</a>
          <a href="mailto:inbox@artads.agency" class="footer-mail">inbox@artads.agency</a>
          <div class="social">
            <a href="https://t.me/ArtAds_Agency" class="social-link"><img src="{% static 'assets/images/telegram.svg' %}" alt="Telegram."></a>
            <a href="https://www.instagram.com/artads.agency/" class="social-link"><img src="{% static 'assets/images/instagram.svg' %}" alt="Instagram."></a>
            <a href="https://www.facebook.com/art.ads.digital/" class="social-link"><img src="{% static 'assets/images/facebook.svg' %}" alt="Facebook."></a>
          </div>
        </div>
        <div class="footer-services">
          <h3 class="footer-title">{% trans 'Услуги' %}</h3>
          {% for service in services_categories %}
            <a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% if service.article %}{% url 'services:article' slug=service.article.slug %}{% endif %}" class="services-link">{{service.name}}</a>
          {% endfor %}
        </div>
        <div class="footer-request">
          <h3 class="footer-title">{% trans 'ЗАДАЙТЕ ВАШ ВОПРОС' %}</h3>
          <form action="{% url 'send_email' %}" class="footer_form" method="POST">
            {% csrf_token %}
            <div class="form-wrapper">
              <div class="footer-form-left">
                <input class="input" name="name" type="text" placeholder="{% trans 'Имя' %}" required>
                <input class="input" name="email" type="email" placeholder="E-mail" required>
              </div>
              <div class="footer-form-right">
                <textarea class="textarea" name="question" cols="30" placeholder="{% trans 'Вопрос' %}" required></textarea>
              </div>
            </div>

            <div class="form-footer">
              <div class="status"></div>
              <button class="btn btn-orange" type="submit">{% trans 'Оставить заявку' %}</button>
            </div>

          </form>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="footer-years">
          <p>&copy; ART ADS <span class="number">2011-2021</span></p>
        </div>
        <nav class="nav">
          <ul class="nav-list">
<!--                  <li class="nav-link sub-link">-->
<!--                    <a>{% trans 'Услуги' %}</a>-->
<!--                    <div class="padding-block">-->
<!--                      <div class="drop-down">-->
<!--                        <div class="inner-drop-block">-->
<!--                          <ul class="sub-nav">-->
<!--                            {% for service in services_categories %}-->
<!--                              <li class="nav-link"><a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% if service.article %}{% url 'services:article' slug=service.article.slug %}{% endif %}">{{service.name}}</a></li>-->
<!--                            {% endfor %}-->
<!--                          </ul>-->
<!--                        </div>-->
<!--                      </div>-->
<!--                    </div>-->
<!--                  </li>-->
                  <li class="nav-link"><a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'cases:list' %}">{% trans 'Кейсы' %}</a></li>
                  <li class="nav-link"><a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'articles:list' %}">{% trans 'Статьи' %}</a></li>
                  <li class="nav-link"><a href="{% url 'about' %}">{% trans 'О нас' %}</a></li>
                  <li class="nav-link"><a href="{% url 'contacts' %}">{% trans 'Контакты' %}</a></li>
          </ul>
        </nav>
        <div class="footer-privacy-block">
          <!-- <a href="/" class="privacy-item">Условия пользования</a> -->
          <a href="{% url 'privacy' %}" class="privacy-item">{% trans 'Политика конфиденциальности' %}</a>
        </div>
        <div class="footer-logo desktop-none">
          <a href="{% url 'index' %}" class="footer-logo-link">
            <img src="{% static 'assets/images/logo-scroll.svg' %}" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="{% static 'assets/images/facebook-partners.svg' %}" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="{% static 'assets/images/google-partners.svg' %}" alt="Google Partners.">
          </div>
        </div>
      </section>

      </div>

  </footer>
  {% block footer %}
  <div class="popup popup_func">
  <div class="popup popup_send_moderation popup_cookies">
  <div class="popup_dialog">
    <div class="popup_content">
      <p class="popup_login_descr">{% trans 'Мы используем cookies. Цели - маркетинг и анализ трафика. Узнать подробнее можно' %}<a href="" class="cookies_link">тут</a>.</p>
      <button type="button" class="popup_close btn btn-orange">Согласен</button>

    </div>
  </div>
</div>
    <div class="popup_dialog">
      <div class="popup_content text-center">
        <button type="button" class="popup_close"><img src="{% static 'assets/images/close.svg' %}" alt="Close button."></button>
        <h2 class="title">{% trans 'ЗАКАЗАТЬ БЕСПЛАТНУЮ КОНСУЛЬТАЦИЮ' %}</h2>
        <div class="popup_form">
          <form class="form send_form" action="{% url 'send_email' %}" method="post">
            <p class="popup_descr">{% blocktrans %}Оставьте заявку и мы перезвоним Вам в течение 15 минут{% endblocktrans %}</p>
            {% csrf_token %}
            <div class="input_row">
              <div class="input-item">
                <label for="user_name">{% trans 'Имя' %}</label>
                <input class="form-control form_input" name="user_name" id="user_name" required type="text" placeholder="{% trans 'Имя' %}">
              </div>
              <div class="input-item">
                <label for="user_phone">{% trans 'Телефон' %}</label>
                <input class="form-control form_input mask-phone" name="user_phone" id="user_phone" required type="tel" placeholder="{% trans 'Телефон' %}">
              </div>
              <div class="input-item">
                <label for="user_email">E-mail</label>
                <input class="form-control form_input" name="user_email" id="user_email" required type="email" placeholder="E-mail">
              </div>
            </div>
            <div class="row-center"><button class="btn btn-top btn-orange" name="submit" type="submit">{% trans 'Оставить заявку' %}</button></div>
            <div class="status"></div>
          </form>
        </div>
      </div>
    </div>
  </div>
  {% endblock %}
  <!-- <script src="app.js"></script> -->
  <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
  <script src="https://code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script src="{% static 'libs/slick-carousel/slick/slick.min.js' %}"></script>
  <script src="{% static 'vendors~main.js' %}"></script>
  <script src="{% static 'main.js' %}"></script>
  <script src="{% static 'send_form.js' %}"></script>

  {% block scripts %}
  {% endblock %}
</body>

</html>

