{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% block pagename %}page-contacts{% endblock %}
{% block pagetitle %}Contacts{% endblock %}
{% block title %}{% trans 'Контакты' %} | ART ADS{% endblock %}
{% block description %}{% trans 'Контакты, адреса и местоположение компании ART ADS | 📞+38 (068) 278-22-00' %}{% endblock %}
{% block content %}
<section class="block-100vh">
    <div class="site-width">
      <div class="contacts-wrapper">
        <div class="title-wrapper">
            <h2 class="title title-center mob-none">{% trans 'Контакты' %}</h2>
        </div>
        <div class="contacts-top">
            <div class="request form-wrapper">
                <p class="any-questions">
                    {% blocktrans %}Остались вопросы? Оставьте заявку и наши менеджеры с Вами свяжутся!{% endblocktrans %}
                </p>
                <form action="{% url 'send_email' %}" class="form-contact" method="post">
                    {% csrf_token %}
                    <label for="name">{% trans 'Имя' %}</label>
                    <input id="name" name="name" type="text" placeholder="{% trans 'Имя' %}" required>
                    <label for="email">E-mail</label>
                    <input id="email" name="email" type="email" placeholder="E-mail" required>
                    <label for="message">{% trans 'Введите сообщение' %}</label>
                    <textarea name="message" id="message" cols="30" rows="6" placeholder="{% trans 'Введите сообщение' %}"></textarea>
                    <button class="btn btn-top btn-orange">{% trans 'Оставить заявку' %}</button>
                    <div class="status"></div>
                </form>
            </div>
            <div class="map">
                <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2749.61980811009!2d30.763224015791018!3d46.436414776065064!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c63369bb543077%3A0x5358d23ab9b5909d!2sArt.Ads%20Digital%20Agency!5e0!3m2!1sru!2sua!4v1625825793972!5m2!1sru!2sua" width="710" height="475" style="border:0;" allowfullscreen="" loading="lazy"></iframe>
            </div>
        </div>
        <div class="contacts-footer">
            <h2 class="title title-center desktop-none">{% trans 'Контакты' %}</h2>
            <div class="contacts-footer-item">
                <div class="contacts-footer-title">{% trans 'Телефон' %}</div>
                <div class="contacts-footer-info">
                    <a href="tel:+380682782200"><span class="number">+38 068 278 22 00</span></a>
                </div>
            </div>
            <div class="contacts-footer-item">
                <p class="contacts-footer-title">E-mail</p>
                <p class="contacts-footer-info">
                    <a href="mailto:inbox@artads.agency">inbox@artads.agency</a>
                </p>
            </div>
            <div class="contacts-footer-item">
                <p class="contacts-footer-title">{% trans 'Адрес' %}</p>
                <p class="contacts-footer-info">
                    {% trans 'Одесса, Украина' %}<br>
                    {% trans 'Французский бульвар' %}
                </p>
            </div>
            <div class="contacts-footer-item">
                <p class="contacts-footer-title">{% trans 'Рабочие часы' %}</p>
                <p class="contacts-footer-info">
                    {% trans 'ПН - ПТ' %}<br>
                    <span class="number">10:00 - 18:00</span>
                </p>
            </div>
        </div>
      
        
      </div>
      
    </div>
 
  </section>
{% endblock %}
