{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block content %}
  <section class="top-block">
    <div class="site-width">
      <div class="top-block-wrapper">
        <div class="request">
          <h1 class="title request-title">{% trans 'Маркетинговое digital-агентство полного цикла' %}</h1>
          <div class="request-description">
            <p class="request-paragraph">
              {% blocktrans %}Доверьтесь команде профессионалов в области цифровой рекламы, и получите результат, отвечающий поставленным бизнес-целям и вашему бюджету. Откройте новые возможности для развития вашего бизнеса прямо сейчас.{% endblocktrans %}
            </p>
          </div>
          <button class="btn btn-top btn-orange popup_btn">{% trans 'Оставить заявку' %}</button>
        </div>
        <div class="honeycomb-wrap mob-none">
          <ul class="honeycomb">
          <li class="honey honey-1 mob-none">
          </li>
          <li class="honey honey-5 mob-none">
          </li>
          {% for service in services_categories %}
            <li class="honey honey-{% if forloop.counter|add:1 == 5 or forloop.counter|add:1 > 5 %}{{ forloop.counter|add:3 }}{% else %}{{ forloop.counter|add:1 }}{% endif %}">
              <a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% if service.article %}{% url 'services:article' slug=service.article.slug %}{% endif %}" class="honey-link"><p class="honey-text">{{service.name}}</p></a>
            </li>
          {% endfor %}
          <li class="honey honey-6 honey-services">
            <!-- <div class="button__circle" ></div> -->
            <p class="honey-text">{% trans 'Услуги' %}</p>
          </li>
        </ul>
        </div>
      </div>
      <div class="top-block-bottom">
        <div class="container">
          <div class="top-block-advantages">
            <div class="top-block-advantages-item">
              <p class="number-block">99<span class="number-block-sub"> %</span></p>
              <p class="top-block-advantages-descr">
                {% trans 'довольных клиентов' %}
              </p>
            </div>
            <div class="top-block-advantages-item">
              <p class="number-block">7<span class="number-block-sub"> {% trans 'лет' %}</span></p>
              <p class="top-block-advantages-descr">
                {% trans 'на рынке маркетинговых услуг' %}
              </p>
            </div>
            <div class="top-block-advantages-item">
              <p class="number-block">85<span class="number-block-sub"> +</span></p>
              <p class="top-block-advantages-descr">
                {% trans 'успешных проектов' %}
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="cases">
    <div class="site-width">
      <div class="honeycomb-wrap desktop-none">
        <ul class="honeycomb">
          <li class="honey honey-1 mob-none">
            <p class="honey-text"></p>
          </li>
          {% for service in services_categories %}
            <li class="honey honey-{% if forloop.counter|add:1 == 5 or forloop.counter|add:1 > 5 %}{{ forloop.counter|add:3 }}{% else %}{{ forloop.counter|add:1 }}{% endif %}">
              <a href="/{{ request.LANGUAGE_CODE }}{% if service.article %}{% url 'services:article' slug=service.article.slug %}{% endif %}" class="honey-link"><p class="honey-text">{{service.name}}</p></a>
            </li>
          {% endfor %}
          <li class="honey honey-6 honey-services">
            <!-- <div class="button__circle" ></div> -->
            <p class="honey-text">{% trans 'Услуги' %}</p>
          </li>
      </ul>
      </div>
      {% if cases %}
        <div class="title-wrapper">
          <h2 class="title title-center">{% trans 'Наши кейсы' %}</h2>
        </div>
      {% endif %}
      <div class="cases-row">
        {% for case in cases %}
          <div class="cases-item">
            <picture class="cases-item-phone">
              <!-- <source srcset="large.jpg" media="(max-width: 800px)" />
              <source srcset="medium.jpg" media="(max-width: 500px)" /> -->
              <img src="{{case.mob_image.photo.url}}" alt="{{case.mob_image.alt}}" title="{{case.mob_image.title}}">

            </picture>
            <picture class="cases-item-img">
              <div class="hover-block">
                <h2 class="hover-block-title">{{case.title}}</h2>
                <p class="hover-block-text">
                  {{case.text|safe}}
                </p>
                <p class="hover-block-text"></p>
                <button class="btn btn-top btn-orange popup_btn">
                  {% trans 'Оставить заявку' %}
                </button>
              </div>
              <!-- <source srcset="large.jpg" media="(max-width: 800px)" />
              <source srcset="medium.jpg" media="(max-width: 500px)" /> -->
              <img src="{{case.full_image.photo.url}}" alt="{{case.full_image.alt}}" title="{{case.full_image.title}}">
            </picture>
          </div>
          {% endfor %}
      </div>
      {% if cases.count > 2 %}
        <div class="cases-all">
          <button class="btn cases-btn more_cases">{% trans 'See more' %}</button>
        </div>
      {% endif %}
    </div>
  </section>
{% if reviews %}
<section class="reviews" id="reviews">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Отзывы' %}</h2>
      </div>
      <div class="slider-wrapper">
          <div class="slider">
            {% for review in reviews %}
              <div class="slide">
                <div class="slide-item slide-video">
                  <img src="{{review.image.photo.url}}" alt="{{review.image.alt}}" title="{{review.image.title}}">
                </div>
                <div class="slide-item slide-text">
                  <h3 class="slide-title">{{review.name}}</h3>
                  <h4 class="slide-subtitle">{{review.position}}</h4>
                  <div class="slide-description">
                    <p class="slide-paragraph">
                      {{review.text}}
                    </p>
                  </div>
                </div>
              </div>
            {% endfor %}
        </div>
      </div>
    </div>
  </section>
{% endif %}
  <section class="partners">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Наши партнеры' %}</h2>
      </div>
      <div class="partners-wrapper">
        <span class="partners-honey partners-honey-1 mob-none"></span>
        <span class="partners-honey partners-honey-2 mob-none"></span>
        <span class="partners-honey partners-honey-orange partners-honey-3"><img src="{% static 'assets/images/siemens_logo.svg' %}" alt="Siemens logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-4"><img src="{% static 'assets/images/samsung_logo.svg' %}" alt="Samsung logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-5"><img src="{% static 'assets/images/texas_logo.svg' %}" alt="Texas logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-6"><img src="{% static 'assets/images/philips_logo.svg' %}" alt="Philips logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-7"><img src="{% static 'assets/images/alfa_logo.svg' %}" alt="Alfa logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-8"><img src="{% static 'assets/images/lg_logo.svg' %}" alt="Lg logo."></span>
        <span class="partners-honey partners-honey-orange partners-honey-9"><img src="{% static 'assets/images/panasonic_logo.svg' %}" alt="Panasonic logo."></span>
        <span class="partners-honey partners-honey-10 mob-none"></span>
      </div>
    </div>
  </section>
  <section class="articles">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Статьи' %}</h2>
      </div>
      <div class="articles-row article-slider">
        {% for article in articles %}
          <div class="article filtered-div" data-web="{{article.category|lower|slugify}}">
            <div class="article-picture">
              <a href="/" class="article-category">{{article.category|upper}}</a>
              <a class="article-picture-link" href="/">
                <img class="article-picture-img" src="{{article.image.photo.url}}" alt="{{article.image.alt}}" title="{{article.image.title}}"></a>
            </div>
            <div class="article-footer">
              <div class="article-date">
                <div class="article-date-calendar">
                  {{article.publish_date}}
                </div>
                <div class="article-date-author">
                  by {{article.author.first_name}}{{article.author.last_name}}
                </div>
              </div>
              <div class="article-decsription">
                <p class="article-paragraph article-paragraph--short">
                  {{article.text_before_quote|striptags}}
                </p>
              </div>
                <a class="article-link" href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'articles:article' slug=article.get_slug %}">
                  <div class="article-link-text">
                    {% trans 'Read more' %}
                  </div>
                </a>
            </div>
          </div>
        {% endfor %}
      </div>
      {% if articles.count > 3  %}
        <div class="cases-all mob-none">
          <button id="read_more" class="btn cases-btn">{% trans 'Read more' %}</button>
        </div>
      {% endif %}
    </div>
  </section>
{% endblock %}
