<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="/src/assets/images/Favicon_Art_Ads.ico" type="image/x-icon">
  <link rel="stylesheet" type="text/css" href="/src/libs/slick-carousel/slick/slick.css">
  <link rel="stylesheet" type="text/css" href="/src/libs/slick-carousel/slick/slick-theme.css">
  <title>ArtAdsAgency || Home</title>
<link href="main.css" rel="stylesheet"></head>

<body class="page privacy-page">

  <!-- HEADER -->
  <header class="header">
    <div class="site-width">
      <div class="header-wrapper">
        <div class="header-inner">
        <a href="/" class="logo mob-none">
          <img src="/src/assets/images/logo.svg" alt="Logo.">
        </a>
        <a href="/" class="logo-scroll">
          <img src="/src/assets/images/logo-scroll.svg" alt="Logo.">
        </a>
          
        
        <nav class="nav nav-start mob-none">
          <ul class="nav-list">
                  <!-- <li class="nav-link sub-link"><a href="">Услуги</a>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            <li class="nav-link"><a href="/smm.html">SMM</a></li>
                            <li class="nav-link"><a href="/seo.html">SEO</a></li>
                            <li class="nav-link"><a href="/ppc.html">PPC</a></li>
                            <li class="nav-link"><a href="/web-dev.html">WEB разработка</a></li>
                            <li class="nav-link"><a href="/web-design.html">WEB дизайн</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li> -->
                  <li class="nav-link"><a href="/#cases">Кейсы</a></li>
                  <!-- <li class="nav-link"><a href="/all-articles.html">Статьи</a></li> -->
                  <!-- <li class="nav-link"><a href="/about.html">О нас</a></li> -->
                  <li class="nav-link"><a href="/#reviews">Отзывы</a></li>
                  <li class="nav-link"><a href="/#partners">Партнеры</a></li>
                  <li class="nav-link"><a href="/#contacts">Контакты</a></li>
          </ul>
        </nav>
        
        </div>
        <!-- <div class="language">
                  <ul class="language-list">
                    <li class="language-item"><a href="/">UA</a></li>
                    <li class="language-item"><a href="/">RU</a></li>
                    <li class="language-item"><a href="/">ENG</a></li>
                  </ul>
        </div> -->
        <div class="scroll-wrapper">
          <button class="btn cases-btn popup_btn mob-none">Оставить заявку</button>
          <div class="burger">
            <span class="burger-item burger-top"></span>
            <span class="burger-item burger-middle"></span>
            <span class="burger-item burger-bottom"></span>
          </div>
        </div>
      </div>
      
    </div>
    <div class="burger-menu-back">
       <div class="burger-menu">
        <div class="honeycomb-wrap burger-menu-honeycomb-wrap">
          <ul class="honeycomb burger-menu-honeycomb">
            <span class="honey honey-01 burger-menu-honey-1 mob-none">
              <p class="honey-text"></p>
            </span>
            <li class="honey honey-02 burger-menu-honey-2 honey-orange">
              <a href="#" class="honey-link">
                <!-- <p class="honey-text">Статьи</p> -->
              </a>
            </li>
            <li class="honey honey-03 burger-menu-honey-3">
              <a href="#" class="honey-link popup_btn"><p class="honey-text honey-default">Web <br>разработка 
                </p></a>
            </li>
            <li class="honey honey-04 burger-menu-honey-4">
              <a href="#" class="honey-link popup_btn"><p class="honey-text">Web<br>
                дизайн</p></a>
            </li>
            <li class="honey honey-05 burger-menu-honey-5 honey-orange">
              <a href="#" class="honey-link popup_btn"><p class="honey-text">Кейсы</p></a>
            </li>
            <li class="honey honey-06 burger-menu-honey-6">
              <a href="/" class="honey-link">
                <img src="/src/assets/images/logo-scroll.svg" alt="Logo.">
              </a>
            </li>
            <li class="honey honey-07 burger-menu-honey-7 honey-orange">
              <!-- <div class="back-color"></div> -->
              <!-- <a href="/about.html" class="honey-link"><p class="honey-text">О нас</p></a> -->
            </li>
            <li class="honey honey-08 burger-menu-honey-8">
              <a href="#" class="honey-link popup_btn"><p class="honey-text">SMM</p></a>
            </li>
            <li class="honey honey-09 burger-menu-honey-9 honey-orange">
              <!-- <a href="#contacts" class="honey-link"><p class="honey-text">Контакты</p></a> -->
            </li>
            <span class="honey honey-010 burger-menu-honey-10 mob-none">
              <p class="honey-text"></p>
            </span>
            <span class="honey honey-011 burger-menu-honey-11 mob-none">
             <p class="honey-text"></p>
            </span>
            <span class="honey honey-012 burger-menu-honey-12 mob-none">
              <p class="honey-text"></p>
            </span>
            <li class="honey honey-013 burger-menu-honey-13">
              <a href="#" class="honey-link popup_btn"><p class="honey-text">PPC</p></a>
            </li>
            <li class="honey honey-014 burger-menu-honey-14">
              <a href="#" class="honey-link popup_btn"><p class="honey-text">SEO</p></a>
            </li>
            <li class="honey honey-015 burger-menu-honey-15">
              <a href="#" class="honey-link popup_btn"><p class="honey-text">Copywriting</p></a>
            </li>
        </ul>
        </div>
       </div>
      </div>
  </header>
  <!-- HEADER END -->
  <section class="site-width privacy-body">
    <div>
        <h1 class="title">Соглашение на обработку персональных данных и политика конфиденциальности</h1>
        <div>
            <div>

<p>Перечень услуг, которые предоставляет компания Art.Ads Agency(далее — Компания), находится на Сайте <a href="https://artads.agency/">artads.agency</a> (далее — Сайт).</p>
<p>Компания с уважением относится к конфиденциальной (персональной) информации каждого лица, посетившего Сайт. Компания стремится защищать конфиденциальность персональных данных (сведений либо совокупности сведений о физическом лице, которое идентифицировано или может быть конкретно идентифицировано), создав и обеспечив для этого максимально комфортные условия использования Сайта для каждого Пользователя.</p>
<p>Политика конфиденциальности персональной информации (далее – Политика) действует в отношении всей информации, которую можно получить о Пользователе во время использования им Сайта, а также в ходе исполнения <a href="https://artads.agency/">artads.agency</a> любых соглашений и договоров с Пользователем. Согласие Пользователя с настоящей Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется и на все остальные перечисленные лица.</p>
<p>Использование указанного Сайта означает полное согласие Пользователя с Политикой и условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.</p>
<p>Присоединяясь к настоящему Соглашению и оставляя персональные данные на Сайте <a href="https://artads.agency/">https://artads.agency/</a> через заполнение полей форм, Пользователь:</p>
<ul>
<li>подтверждает, что все указанные им данные принадлежат лично ему;</li>
<li>подтверждает и признает, что им внимательно и в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях форм;</li>
<li>признает, что текст Соглашения и условия обработки персональных данных ему понятны;</li>
<li>дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;</li>
<li>выражает согласие с условиями обработки персональных данных.</li>
</ul>
<p>При посещении Сайта фиксируются все входы в систему. Другие сведения по трафику Пользователя Компанией не обрабатываются и не сохраняются.</p>
<p>Пользователь дает свое согласие на обработку его персональных данных, а именно — совершение действий, предусмотренных в Законе Украины <a href="http://zakon2.rada.gov.ua/laws/main/2297-17">«О защите персональных данных»</a>, и подтверждает, что давая такое согласие, он действует свободно, по своей воле и в своем интересе.</p>
<p>Согласие Пользователя на обработку персональных данных считается конкретным, информированным и сознательным.</p>
<p>Цель обработки персональных данных — предоставление Пользователю услуг, описанных на Сайте.</p>
<p>Настоящее согласие Пользователя признается исполненным в простой письменной форме на обработку следующих персональных данных:</p>
<ul>
<li>фамилии, имени, отчества;</li>
<li>местонахождение (город, область);</li>
<li>номеров телефонов;</li>
<li>адресов электронной почты (email);</li>
<li>cookie-файлов;</li>
<li>информации об IP-адресе Пользователя;</li>
<li>информации о местоположении Пользователя.</li>
</ul>
<p>Компании такие данные нужны для того, чтобы предоставлять консультации на высшем уровне и подбирать информацию, наиболее релевантную интересам Пользователя. Пользователь предоставляет <a href="https://artads.agency/">artads.agency</a> право осуществлять следующие действия с персональными данными:</p>
<ul>
<li>сбор и накопление;</li>
<li>хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет с момента даты прекращения использования услуг Пользователем;</li>
<li>уточнение (обновление, изменение);</li>
<li>использование;</li>
<li>уничтожение;</li>
<li>обезличивание;</li>
<li>передача по требованию суда, в т. ч., третьим лицам с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</li>
</ul>
<p>Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Пользователем путем подачи заявления администрации сайта с указанием данных, определенных в Законе «О персональных данных».</p>
<p>Отзыв согласия на обработку персональных данных может быть осуществлен через отправку Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты <a href="mailto:mg@artads.agency">mg@artads.agency</a>.</p>
<p>Вы также можете связаться с нами по следующему почтовому адресу: ArtAds Французский бульвар 66/1, секция Б, 6 этаж, офис 601Б, Одесса, Одеська область, 65062</p>

<p>Периодически и без предварительного уведомления Пользователя об этом в эту Политику могут вноситься изменения и дополнения, в т. ч. при изменении требований законодательства. В случае внесения существенных изменений в эту Политику Компанией будет размещено сообщение на Сайте и указан срок вступления этих изменений в силу. Если в течение указанного срока Пользователь не откажется от их принятия в письменной форме, это будет означать согласие Пользователя с соответствующими изменениями Политики. Действующая редакция Соглашения находится на странице по адресу: <a href="https://artads.agency/privacy-policy">https://artads.agency/privacy-policy</a>.</p>
<p>К настоящему Соглашению и отношениям между Пользователем и Сайтом, возникающим в связи с применением Соглашения, подлежит применению право Украины.</p>
</div>

</div>
</div>

        
    
</section>


  <footer class="footer" id="contacts">
    <div class="site-width">
      <section class="footer-top">
        <div class="footer-logo mob-none">
          <a href="/" class="footer-logo-link">
            <img src="/src/assets/images/logo-scroll.svg" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="/src/assets/images/facebook-partners.svg" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="/src/assets/images/google-partners.svg" alt="Google Partners.">
          </div>
        </div>
        <div class="footer-contacts">
          <h3 class="footer-title">Контакты</h3>
          <p class="footer-adress">Одесса, Украина <br>
            Французский бульвар, <span class="number">66/1</span></p>
          <a href="tel:+38 068 278 22 00" class="footer-phone number">+38 068 278 22 00</a>  
          <a href="mailto:inbox@artads.agency" class="footer-mail">inbox@artads.agency</a>
          <div class="social">
            <a href="/" class="social-link"><img src="/src/assets/images/telegram.svg" alt="Instagram."></a>
            <a href="/" class="social-link"><img src="/src/assets/images/instagram.svg" alt="Instagram."></a>
            <a href="/" class="social-link"><img src="/src/assets/images/facebook.svg" alt="Instagram."></a>
          </div>
        </div>
        <div class="footer-services">
          <h3 class="footer-title">Услуги</h3>
          <a href="#" class="services-link popup_btn">SEO</a>
          <a href="#" class="services-link popup_btn">SMM</a>
          <a href="#" class="services-link popup_btn">PPC</a>
          <a href="#" class="services-link popup_btn">Web дизайн</a>
          <a href="#" class="services-link popup_btn">Web разработка</a>
        </div>
        <div class="footer-request">
          <h3 class="footer-title">ЗАДАЙТЕ ВАШ ВОПРОС</h3>
          <form action="" class="footer_form send-form">
            <div class="form-wrapper">
              <div class="footer-form-left">
                <input class="input" type="text" placeholder="Имя" required>
                <input class="input" type="email" placeholder="E-mail" required>
                <!-- обязательные поля-->
            <input type="hidden" name="project_name" value="GarageDoors">
            <input type="hidden" name="admin_email" value="rekops@ukr.net">
            <input type="hidden" name="form_subject" value="Форма с сайта GarageDoors">
            <!-- обязательные поля-->
              </div>
              <div class="footer-form-right">
                <textarea class="textarea" name="" id="" cols="30" placeholder="Вопрос" required></textarea>
              </div>
            </div>
            <div class="status"></div>
            <div class="form-footer">
              <button class="btn btn-orange" type="submit">Оставить заявку</button>
            </div>
           
          </form>
        </div>
      </section>
      <section class="footer-bottom">
        <div class="footer-years">
          <p>&copy; ART ADS <span class="number">2011-2021</span></p>
        </div>
        <nav class="nav">
          <ul class="nav-list">
                  <!-- <li class="nav-link sub-link"><a href="">Услуги</a>
                    <div class="padding-block">
                      <div class="drop-down">
                        <div class="inner-drop-block">
                          <ul class="sub-nav">
                            <li class="nav-link"><a href="/smm.html">SMM</a></li>
                            <li class="nav-link"><a href="/seo.html">SEO</a></li>
                            <li class="nav-link"><a href="/ppc.html">PPC</a></li>
                            <li class="nav-link"><a href="/web-dev.html/">WEB разработка</a></li>
                            <li class="nav-link"><a href="/web-design.html">WEB дизайн</a></li>
                          </ul>
                        </div>
                      </div>
                    </div>
                  </li> -->
                  <li class="nav-link"><a href="/#cases">Кейсы</a></li>
                  <li class="nav-link"><a href="/#reviews">Отзывы</a></li>
                  <!-- <li class="nav-link"><a href="/about.html">О нас</a></li> -->
                  <li class="nav-link"><a href="/#partners">Партнеры</a></li>
                  <li class="nav-link"><a href="/#contacts">Контакты</a></li>
          </ul>
        </nav>
        <div class="footer-privacy-block">
          <!-- <a href="/" class="privacy-item">Условия пользования</a> -->
          <a href="/privacy.html" class="privacy-item">Политика конфиденциальности</a>
        </div>
        <div class="footer-logo desktop-none">
          <a href="/" class="footer-logo-link">
            <img src="/src/assets/images/logo-scroll.svg" alt="Logo.">
          </a>
          <div class="facebook-partners">
            <img src="/src/assets/images/facebook-partners.svg" alt="Facebook Partners.">
          </div>
          <div class="google-partners">
            <img src="/src/assets/images/google-partners.svg" alt="Google Partners.">
          </div>
        </div>
      </section>
      
      </div>
    
  </footer>

  <div class="popup popup_func">
    <div class="popup_dialog">
      <div class="popup_content text-center">
        <button type="button" class="popup_close"><img src="/src/assets/images/close.svg" alt="Close button."></button>
        <h2 class="title">Свяжитесь с нами</h2>
        <div class="popup_form">
          <form class="form send-form" action="#">
            <p class="popup_descr">Оставляйте заявку прямо сейчас и получайте эксклюзивное предложение!</p>
            <div class="input_row">
              <div class="input-item">
                <label for="user_name">Имя</label>
                <input class="form-control form_input" name="user_name" required type="text" placeholder="Введите имя">
              </div>
              <div class="input-item">
                <label for="user_phone">Телефон</label>
                <input class="form-control form_input mask-phone" name="user_phone" required type="tel" placeholder="Введите телефон">
              </div>
              <div class="input-item">
                <label for="user_email">E-mail</label>
                <input class="form-control form_input" name="user_email" required type="email" placeholder="Введите e-mail">
              </div>
              <!-- обязательные поля-->
            <input type="hidden" name="project_name" value="GarageDoors">
            <input type="hidden" name="admin_email" value="rekops@ukr.net">
            <input type="hidden" name="form_subject" value="Форма с сайта GarageDoors">
            <!-- обязательные поля-->
              
            </div>
            <div class="status"></div>
            <div class="row-center"><button class="btn btn-top btn-orange" name="submit" type="submit">Оставить заявку</button></div>
            
          </form>
        </div>
      </div>
    </div>
  </div>

  <!-- <script src="app.js"></script> -->
  <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>
  <script type="text/javascript" src="/src/libs/slick-carousel/slick/slick.min.js"></script>
   
<script src="vendors~main.js"></script><script src="main.js"></script></body>

</html>

