{% extends 'base.html' %}
{% load static %}
{% block pagename %}privacy-page{% endblock %}
{% block content %}
  <section class="site-width privacy-body">
    <div>
        <h1 class="title">Соглашение на обработку персональных данных и политика конфиденциальности</h1>
        <div>
            <div>

<p>Перечень услуг, которые предоставляет компания Art.Ads Agency(далее — Компания), находится на Сайте <a href="{% url 'privacy' %}">artads.agency</a> (далее — Сайт).</p>
<p>Компания с уважением относится к конфиденциальной (персональной) информации каждого лица, посетившего Сайт. Компания стремится защищать конфиденциальность персональных данных (сведений либо совокупности сведений о физическом лице, которое идентифицировано или может быть конкретно идентифицировано), создав и обеспечив для этого максимально комфортные условия использования Сайта для каждого Пользователя.</p>
<p>Политика конфиденциальности персональной информации (далее – Политика) действует в отношении всей информации, которую можно получить о Пользователе во время использования им Сайта, а также в ходе исполнения <a href="https://artads.agency/">artads.agency</a> любых соглашений и договоров с Пользователем. Согласие Пользователя с настоящей Политикой, выраженное им в рамках отношений с одним из перечисленных лиц, распространяется и на все остальные перечисленные лица.</p>
<p>Использование указанного Сайта означает полное согласие Пользователя с Политикой и условиями обработки его персональной информации. В случае несогласия с этими условиями Пользователь должен воздержаться от использования Сайта.</p>
<p>Присоединяясь к настоящему Соглашению и оставляя персональные данные на Сайте <a href="https://artads.agency/">https://artads.agency/</a> через заполнение полей форм, Пользователь:</p>
<ul>
<li>подтверждает, что все указанные им данные принадлежат лично ему;</li>
<li>подтверждает и признает, что им внимательно и в полном объеме прочитано Соглашение и условия обработки его персональных данных, указываемых им в полях форм;</li>
<li>признает, что текст Соглашения и условия обработки персональных данных ему понятны;</li>
<li>дает согласие на обработку Сайтом предоставляемых в составе информации персональных данных в целях заключения между ним и Сайтом настоящего Соглашения, а также его последующего исполнения;</li>
<li>выражает согласие с условиями обработки персональных данных.</li>
</ul>
<p>При посещении Сайта фиксируются все входы в систему. Другие сведения по трафику Пользователя Компанией не обрабатываются и не сохраняются.</p>
<p>Пользователь дает свое согласие на обработку его персональных данных, а именно — совершение действий, предусмотренных в Законе Украины <a href="http://zakon2.rada.gov.ua/laws/main/2297-17" rel="nofollow">«О защите персональных данных»</a>, и подтверждает, что давая такое согласие, он действует свободно, по своей воле и в своем интересе.</p>
<p>Согласие Пользователя на обработку персональных данных считается конкретным, информированным и сознательным.</p>
<p>Цель обработки персональных данных — предоставление Пользователю услуг, описанных на Сайте.</p>
<p>Настоящее согласие Пользователя признается исполненным в простой письменной форме на обработку следующих персональных данных:</p>
<ul>
<li>фамилии, имени, отчества;</li>
<li>местонахождение (город, область);</li>
<li>номеров телефонов;</li>
<li>адресов электронной почты (email);</li>
<li>cookie-файлов;</li>
<li>информации об IP-адресе Пользователя;</li>
<li>информации о местоположении Пользователя.</li>
</ul>
<p>Компании такие данные нужны для того, чтобы предоставлять консультации на высшем уровне и подбирать информацию, наиболее релевантную интересам Пользователя. Пользователь предоставляет <a href="https://artads.agency/">artads.agency</a> право осуществлять следующие действия с персональными данными:</p>
<ul>
<li>сбор и накопление;</li>
<li>хранение в течение установленных нормативными документами сроков хранения отчетности, но не менее трех лет с момента даты прекращения использования услуг Пользователем;</li>
<li>уточнение (обновление, изменение);</li>
<li>использование;</li>
<li>уничтожение;</li>
<li>обезличивание;</li>
<li>передача по требованию суда, в т. ч., третьим лицам с соблюдением мер, обеспечивающих защиту персональных данных от несанкционированного доступа.</li>
</ul>
<p>Указанное согласие действует бессрочно с момента предоставления данных и может быть отозвано Пользователем путем подачи заявления администрации сайта с указанием данных, определенных в Законе «О персональных данных».</p>
<p>Отзыв согласия на обработку персональных данных может быть осуществлен через отправку Пользователем соответствующего распоряжения в простой письменной форме на адрес электронной почты <a href="mailto:mg@artads.agency">mg@artads.agency</a>.</p>
<p>Вы также можете связаться с нами по следующему почтовому адресу: ArtAds Французский бульвар 66/1, секция Б, 6 этаж, офис 601Б, Одесса, Одеська область, 65062</p>

<p>Периодически и без предварительного уведомления Пользователя об этом в эту Политику могут вноситься изменения и дополнения, в т. ч. при изменении требований законодательства. В случае внесения существенных изменений в эту Политику Компанией будет размещено сообщение на Сайте и указан срок вступления этих изменений в силу. Если в течение указанного срока Пользователь не откажется от их принятия в письменной форме, это будет означать согласие Пользователя с соответствующими изменениями Политики. Действующая редакция Соглашения находится на странице по адресу: <a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{ request.LANGUAGE_CODE }}{% endif %}{% url 'privacy' %}">https://{{ request.get_host }}{% url 'privacy' %}</a>.</p>
<p>К настоящему Соглашению и отношениям между Пользователем и Сайтом, возникающим в связи с применением Соглашения, подлежит применению право Украины.</p>
</div>

</div>
</div>

        
    
</section>

{% endblock %}
