<header class="header">
      <div class="site-width">
        <div class="header-wrapper">
          <div class="header-inner">
            <a href="/" class="logo mob-none">
              <img src="/src/assets/images/logo.svg" alt="Logo." />
            </a>
            <a href="/" class="logo-scroll">
              <img src="/src/assets/images/logo-scroll.svg" alt="Logo." />
            </a>

            <nav class="nav nav-start mob-none">
              <ul class="nav-list">
                <li class="nav-link sub-link">
                  <a href="">Услуги</a>
                  <div class="padding-block">
                    <div class="drop-down">
                      <div class="inner-drop-block">
                        <ul class="sub-nav">
                          <li class="nav-link"><a href="/smm.html">SMM</a></li>
                          <li class="nav-link"><a href="/seo.html">SEO</a></li>
                          <li class="nav-link"><a href="/ppc.html">PPC</a></li>
                          <li class="nav-link">
                            <a href="/web-dev.html">WEB разработка</a>
                          </li>
                          <li class="nav-link">
                            <a href="/web-design.html">WEB дизайн</a>
                          </li>
                        </ul>
                      </div>
                    </div>
                  </div>
                </li>
                <li class="nav-link"><a href="/cases.html">Кейсы</a></li>
                <li class="nav-link">
                  <a href="/all-articles.html">Статьи</a>
                </li>
                <li class="nav-link"><a href="/about.html">О нас</a></li>
                <li class="nav-link"><a href="/contacts.html">Контакты</a></li>
              </ul>
            </nav>
          </div>
          <div class="language">
            <ul class="language-list">
              <li class="language-item"><a href="/">UA</a></li>
              <li class="language-item"><a href="/">RU</a></li>
              <li class="language-item"><a href="/">ENG</a></li>
            </ul>
          </div>
          <div class="scroll-wrapper">
            <button class="btn cases-btn popup_btn mob-none">
              Оставить заявку
            </button>
            <div class="burger">
              <span class="burger-item burger-top"></span>
              <span class="burger-item burger-middle"></span>
              <span class="burger-item burger-bottom"></span>
            </div>
          </div>
        </div>
      </div>
      <div class="burger-menu-back">
        <div class="burger-menu">
          <div class="language">
            <ul class="language-list">
              <li class="language-item"><a href="/">UA</a></li>
              <li class="language-item"><a href="/">RU</a></li>
              <li class="language-item"><a href="/">ENG</a></li>
            </ul>
          </div>
          <div class="honeycomb-wrap burger-menu-honeycomb-wrap">
            <ul class="honeycomb burger-menu-honeycomb">
              <span class="honey honey-01 burger-menu-honey-1 mob-none">
                <p class="honey-text"></p>
              </span>
              <li class="honey honey-02 burger-menu-honey-2 honey-orange">
                <a href="/all-articles.html" class="honey-link"
                  ><p class="honey-text">Статьи</p></a
                >
              </li>
              <li class="honey honey-03 burger-menu-honey-3">
                <a href="" class="honey-link"
                  ><p class="honey-text honey-default">
                    Web <br />разработка
                  </p></a
                >
              </li>
              <li class="honey honey-04 burger-menu-honey-4">
                <a href="/web-dev.html" class="honey-link"
                  ><p class="honey-text">
                    Web<br />
                    дизайн
                  </p></a
                >
              </li>
              <li class="honey honey-05 burger-menu-honey-5 honey-orange">
                  <a href="/cases.html" class="honey-link"
                  ><p class="honey-text">Кейсы</p></a
                >
              </li>
              <li class="honey honey-06 burger-menu-honey-6">
                <a href="/" class="honey-link">
                  <img src="/src/assets/images/logo-scroll.svg" alt="Logo." />
                </a>
              </li>
              <li class="honey honey-07 burger-menu-honey-7 honey-orange">
                <!-- <div class="back-color"></div> -->
                <a href="/about.html" class="honey-link"
                  ><p class="honey-text">О нас</p></a
                >
              </li>
              <li class="honey honey-08 burger-menu-honey-8">
                <a href="/smm.html" class="honey-link"
                  ><p class="honey-text">SMM</p></a
                >
              </li>
              <li class="honey honey-09 burger-menu-honey-9 honey-orange">
                <a href="/contacts.html" class="honey-link"
                  ><p class="honey-text">Контакты</p></a
                >
              </li>
              <span class="honey honey-010 burger-menu-honey-10 mob-none">
                <p class="honey-text"></p>
              </span>
              <span class="honey honey-011 burger-menu-honey-11 mob-none">
                <p class="honey-text"></p>
              </span>
              <span class="honey honey-012 burger-menu-honey-12 mob-none">
                <p class="honey-text"></p>
              </span>
              <li class="honey honey-013 burger-menu-honey-13">
                <a href="/ppc.html" class="honey-link"
                  ><p class="honey-text">PPC</p></a
                >
              </li>
              <li class="honey honey-014 burger-menu-honey-14">
                <a href="/seo.html" class="honey-link"
                  ><p class="honey-text">SEO</p></a
                >
              </li>
              <li class="honey honey-015 burger-menu-honey-15">
                <a href="/copywriting.html" class="honey-link"
                  ><p class="honey-text">Copywriting</p></a
                >
              </li>
            </ul>
          </div>
        </div>
      </div>
    </header>