{% extends 'base.html' %}
{% block pagetitle %}Articles{% endblock %}
{% load static %}
{% load i18n %}
{% block pagename %}page-artices{% endblock %}
{% block content %}
<section class="articles">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Статьи' %}</h2>
      </div>
      <div class="tab-row tabs">
        <span class="tab-toggle show-all activeClass">ALL</span>
        {% for category in categories %}
          <span class="tab-toggle {{category|lower}}" data-tab="{{category|lower}}">{{category}}</span>
        {% endfor %}
    </div>
      <div class="articles-row tabs-content">
        {% for article in articles %}
          <div class="article filtered-div" id="{{article.category.title|lower}}" data-tab="{{article.category.title|lower}}">
            <div class="article-picture">
              <a href="/{{request.LANGUAGE_CODE}}{% url 'articles:article' slug=article.get_slug %}" class="article-category">{{article.category|upper}}</a>
              <a class="article-picture-link" href="{% url 'articles:article' slug=article.get_slug %}">
                <img class="article-picture-img" src="{{article.image.photo.url}}" alt="Article."></a>
            </div>
            <div class="article-footer">
              <div class="article-date">
                <div class="article-date-calendar">
                  {{article.publish_date}}
                </div>
                <div class="article-date-author">
                  by {{article.author.first_name}} {{article.author.last_name}}
                </div>
              </div>
              <div class="article-decsription">
                <p class="article-paragraph article-paragraph--short">
                  {{article.title|striptags}}
                </p>
              </div>
              <a class="article-link" href="/{{request.LANGUAGE_CODE}}{{LANGUAGE_CODE}}{% url 'articles:article' slug=article.get_slug %}">
                <div class="article-link-text">
                  Read more
                </div>
              </a>
            </div>
          </div>
        {% endfor %}
      </div>
      <div class="cases-all">
        <button id="read_more" class="btn cases-btn">Read more</button>
      </div>
    </div>
  </section>
{% endblock %}