{% extends 'base.html' %}
{% load static %}
{% load i18n %}
{% load socialaccount %}
{% block pagename %}article-page{% endblock %}
{% block pagetitle %}{{article.title}}{% endblock %}
{% block content %}
  <section class="article-back">
      <div class="site-width article-back-inner">
        <a href="/" class="article-category">{{article.category.name}}</a>
        <div class="article-back-rating">
            <span class="article-back-rating-number number">{{current_rating}}</span>
        </div>
        <div class="article-back-info">
            <div class="article-back-info-item article-back-info-like">
               <span class="article-back-info-like-number number">{{article.number_of_likes}}</span>
            </div>
            <div class="article-back-info-item article-back-info-view">
                <span class="article-back-info-view-number number">{{article.views_count}}</span>
             </div>
             <div class="article-back-info-item article-back-info-comment">
                <span class="article-back-info-comment-number number">{{comments.count}}</span>
             </div>
        </div>
      </div>
  </section>
  <section class="articles-wrapper">
    <div class="site-width">
      <div class="article-extended">
        <div class="article-date">
            <div class="article-date-calendar">
                {{article.publish_date}}
            </div>
            <div class="article-date-time">
              {{reading_time}}m
            </div>
        </div>
        <h1 class="title title-article">{{article.title}}</h1>
        <div class="article-extended-content">
            <div class="article-extended-author">
                <div class="article-extended-author-photo" style="background: url('{{article.author.image.url}}') center center/cover no-repeat"></div>
                <h3 class="article-extended-author-title">{{article.author.first_name}} {{article.author.last_name}}</h3>
                <h4 class="article-extended-author-subtitle">{{article.author.position}}</h4>
                {% for account in article.author.employee.social_accounts.all %}
                    <a href="{{account.link}}" class="author-link author-link-insta" style="background: no-repeat 0 url('{{account.logo.url}}');">{{account.title}}</a>
                {% endfor %}
            </div>
            <div class="article-extended-text">
                {{article.text_before_quote|safe}}
                <p><quote class="quote">{{article.quote}}</quote></p>
                {{article.text_after_quote|safe}}
            </div>
            <div class="article-extended-footer">
                <div class="article-extended-rating">
                    <div class="rating {% if not user.is_authenticated %}popup_btn_login{% endif %}" data-url="{% url 'articles:voice' %}" data-id="{{article.id}}">
                      <span><input type="radio" name="rating" id="str5" value="5"><label for="str5"></label></span>
                      <span><input type="radio" name="rating" id="str4" value="4"><label for="str4"></label></span>
                      <span><input type="radio" name="rating" id="str3" value="3"><label for="str3"></label></span>
                      <span><input type="radio" name="rating" id="str2" value="2"><label for="str2"></label></span>
                      <span><input type="radio" name="rating" id="str1" value="1"><label for="str1"></label></span>
                    </div>
                    <p class="stars-text"><span class="stars-text-current number">{{current_rating}}</span> из <span class="number">5</span> на основе <span class="stars-text-mark number">{{count_of_voices}}</span> оценок</p>
                </div>
                <div class="article-extended-social">
                    <div class="social-item social-item-like {% if request.user in article.likes.all %}add{% endif %} {% if not user.is_authenticated %}popup_btn_login{% endif %}" data-url="{% url 'articles:like' slug=article.slug %}" data-number="{{article.number_of_likes}}">
                        <div class="social-item-inner social-item-like-inner number">{{article.number_of_likes}}</div>
                    </div>
                    <div class="social-item social-item-twitter">
                        <div class="social-item-inner social-item-twitter-inner number"><a href="https://twitter.com/intent/tweet?text=Hello%20world&url={{ request.build_absolute_uri }}" target="_blank">Send</a></div>
                    </div>
                    <div class="social-item social-item-facebook">
                        <div class="social-item-inner social-item-facebook-inner number"><a href="https://www.facebook.com/sharer/sharer.php?{{ request.build_absolute_uri }}" target="_blank">Send</a></div>
                    </div>
                    <div class="social-item social-item-telegram">
                        <div class="social-item-inner social-item-telegram-inner number"><a href="https://t.me/share/url?url={{ request.build_absolute_uri }}&text=ArtAds%20Agency" target="_blank">Send</a></div>
                    </div>
                </div>
            </div>
        </div>  
      </div>
    </div>  
  </section>
  {% if similar_articles.all %}
  <section class="articles">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">Похожие статьи</h2>
      </div>
      <div class="articles-row">
          {% for article in similar_articles %}
            <div class="article">
          <div class="article-picture">
            <a href="" class="article-category">{{article.category__name}}</a>
            <a class="article-picture-link" href="{% url 'articles:article' slug=article.slug %}">
              <img class="article-picture-img" src="/media/{{article.image}}" alt="Article."></a>
          </div>
          <div class="article-footer">
            <div class="article-date">
              <div class="article-date-calendar">
                  {{article.publish_date}}
              </div>
              <div class="article-date-author">
                by {{article.author__first_name}} {{article.author__last_name}}
              </div>
            </div>
            <div class="article-decsription">
              <p class="article-paragraph article-paragraph--short">
                  {{article.text_before_quote|striptags}}
              </p>
            </div>
            <a class="article-link" href="{% url 'articles:article' slug=article.slug %}">
              <div class="article-link-text">
                Read more
              </div>
            </a>
          </div>
        </div>
          {% endfor %}
      </div>
    </div>
</section>
{% endif %}
<section class="comments">
    <div class="site-width">
        <div class="title-wrapper">
          <h2 class="title title-center">Комментарии</h2>
        </div>
        <div class="comments-row">
            {% for comment in comments %}
            <div class="comment">
              <div class="comment-header">
                  <div class="comment-photo"><img class="comment-photo-pic" src="{{comment.user.image.url}}" alt="Author."></div>
                  <div class="comment-info">
                      <div class="comment-name">{{comment.user.first_name}}</div>
                      <div class="comment-date number">{{comment.pub_date}}</div>
                      <div class="comment-text">
                          {{comment.text}}
                      </div>
                  </div>
              </div>
              <div class="button-row">
                  <span class="response-btn">Ответить</span>
              </div>
                {% for subcomment in comment.subcomments.all %}
                    {% if subcomment.status == 1 %}
                    <div class="comment-header comment-subcomment">
                      <div class="comment-photo"><img class="comment-photo-pic" src="{{subcomment.user.image.url}}" alt="Author."></div>
                      <div class="comment-info">
                          <div class="comment-name">{{subcomment.user.first_name}}</div>
                          <div class="comment-date number">{{subcomment.pub_date}}</div>
                          <div class="comment-text">
                              {{subcomment.text}}
                          </div>
                      </div>
                    </div>
                    {% endif %}
                {% endfor %}
                <form action="{% url 'articles:create_comment' slug=article.slug %}" method="post" class="response-block send_comment">
                    <input type="hidden" name="parent_id" value="{{comment.id}}">
                    <input type="hidden" name="article" value="{{article.id}}">
                    <input type="hidden" name="user" value="{{user.id}}">
                  <textarea name="text" class="textarea" cols="30" rows="3" placeholder="Написать комментарий... "></textarea>
                  <button class="btn btn-orange {% if not user.is_authenticated %}popup_btn_login{% endif %}" type="submit">Отправить</button>
                </form>
          </div>
            {% endfor %}
        </div>
        {% if comments.count > 1 %}
        <div class="comments-all">
          <button class="btn cases-btn btn-all-comments">{% trans 'See more' %}</button>
        </div>
        {% endif %}
        <div class="new-comment">
          <div class="new-comment-header">
            <div class="border-div"></div>
            <div class="border-div border-div-long"></div>
            <div class="border-div"></div>
            <div class="border-div"></div>
          </div>
          <div class="new-comment-inner">
            <form action="{% url 'articles:create_comment' slug=article.slug %}" method="post" class="new-comment-form send_comment">
                <input type="hidden" name="article" value="{{article.id}}">
                <input type="hidden" name="user" value="{{user.id}}">
              <textarea name="text" class="textarea" cols="30" rows="8" placeholder="{% trans 'Написать комментарий...' %}"></textarea>
              <button class="btn btn-orange {% if not user.is_authenticated %}popup_btn_login{% endif %}" type="submit">{% trans 'Отправить' %}</button>
            </form>
          </div>
        </div>
    </div>
</section>
{% endblock %}
{% block footer %}
<div class="popup popup_func">
  <div class="popup_dialog">
    <div class="popup_content text-center">
      <button type="button" class="popup_close"><img src="{% static 'assets/images/close.svg' %}" alt="Close button."></button>
      <h2 class="title">Заголовок (УТП)</h2>
      <div class="popup_form">
        <form class="form" action="#">
          <p class="popup_descr">Оставляйте заявку прямо сейчас и получайте эксклюзивное предложение!</p>
          <div class="input_row">
            <div class="input-item">
              <label for="user_name">{% trans 'Имя' %}</label>
              <input class="form-control form_input" name="user_name" required type="text" placeholder="Введите имя">
            </div>
            <div class="input-item">
              <label for="user_phone">{% trans 'Телефон' %}</label>
              <input class="form-control form_input mask-phone" name="user_phone" required type="tel" placeholder="Введите телефон">
            </div>
            <div class="input-item">
              <label for="user_email">E-mail</label>
              <input class="form-control form_input" name="user_email" required type="email" placeholder="Введите e-mail">
            </div>

          </div>
          <div class="row-center"><button class="btn btn-top btn-orange" name="submit" type="submit">{% trans 'Оставить заявку' %}</button></div>

        </form>
      </div>
    </div>
  </div>
</div>

<div class="popup popup_login">
  <div class="popup_dialog">
    <div class="popup_content text-center">
      <button type="button" class="popup_close"><img src="{% static 'assets/images/close.svg' %}" alt="Close button."></button>
      <h2 class="title">Вход</h2>
      <div class="popup_form">
        <form class="form" action="#">
            {% if user.is_authenticated %}
                <p>Welcome, You are logged in as {{ user.username }}</p>
            {% else %}
                <a class="login_btn login_btn_google" href="{% provider_login_url 'google' %}?next={{request.path}}">Google</a>
                <a class="login_btn login_btn_facebook" href="{% provider_login_url 'facebook' method='oauth2' %}?next={{request.path}}">{% trans 'Продолжить с Facebook' %}</a>
            {% endif %}
        </form>
      </div>
      <p class="popup_login_descr">{% trans 'Авторизуясь, Вы даете согласие на обработку персональных данных.' %}</p>
    </div>
  </div>
</div>

<div class="popup popup_send_moderation">
  <div class="popup_dialog">
    <div class="popup_content">
      <p class="popup_login_descr">Спасибо! Ваш комментарий отправлен на модерацию.</p>
      <button type="button" class="popup_close btn btn-orange">Продолжить</button>

    </div>
  </div>
</div>

<div class="popup popup_send_moderation popup_try_again">
  <div class="popup_dialog">
    <div class="popup_content">
      <p class="popup_login_descr">Что-то пошло не так. Попробуйте снова!</p>
      <button type="button" class="popup_close btn btn-orange">Попробовать снова</button>

    </div>
  </div>
</div>

<div class="popup popup_send_moderation popup_cookies">
  <div class="popup_dialog">
    <div class="popup_content">
      <p class="popup_login_descr">Мы используем cookies. Цели - маркетинг и анализ трафика. Узнать подробнее можно <a href="" class="cookies_link">тут</a>.</p>
      <button type="button" class="popup_close btn btn-orange">Согласен</button>

    </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
{% if user.is_authenticated %}
    <script type="text/javascript" src="{% static 'article-actions.js' %}"></script>
{% endif %}
{% endblock %}