{% extends 'base.html' %}
{% load i18n %}
{% load static %}
{% block description %}{{article.seo.seo_description}}{% endblock %}
{% block title %}{% if article.seo.seo_title %}{{article.seo.seo_title}}{% endif %}{% endblock %}
{% block canocical %}{% if article.seo.seo_canonical %}{{article.seo.seo_canonical}}{% endif %}{% endblock %}
{% block og %}{% if article.seo.seo_og %}{{article.seo.seo_og}}{% endif %}{% endblock %}
{% block schema %}{{article.seo.seo_schema}}{% endblock %}
{% block robots %}{{article.seo.seo_robots}}{% endblock %}
{% block pagename %}page-services{% endblock %}
{% block pagetitle %}Service{% endblock %}
{% block content %}
<section class="block-100vh">
    <div class="block-100vh-media" style="background: url({{article.image.photo.url}}) center center/cover no-repeat">
    </div>
    <div class="site-width">
      <div class="top-block-wrapper">

        <div class="request">
          <h1 class="title request-title">{{article.title}}</h1>
          <div class="request-description">
            <div class="request-paragraph">
              {{article.text|safe}}
            </div>
          </div>
          <button class="btn btn-top btn-orange popup_btn">{% trans 'Оставить заявку' %}</button>
        </div>

      </div>

    </div>

  </section>
 <section class="we-will-do">
     <div class="site-width">
        <div class="title-wrapper">
            <h2 class="title title-center">{% trans 'Что мы сделаем?' %}</h2>
        </div>
        <div class="we-will-do-row service-slider">
            {% for workpoint in article.workpoints.all %}
            <div class="we-will-do-item">
                <h3 class="title-standart">{{workpoint.title}}</h3>
                <div class="we-will-do-list">
                 {{workpoint.text|linebreaksbr}}
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="row-center">
            <button class="btn btn-top btn-orange popup_btn">{% trans 'Оставить заявку' %}</button>
        </div>
     </div>
 </section>
    {% include "includes/cases.html" with cases=cases only %}
    <section class="other-services">
    <div class="site-width">
        <div class="title-wrapper">
            <h2 class="title title-center">{% trans 'You may also like' %}</h2>
        </div>
        <div class="we-will-do-row">
            {% for service in services_categories %}
            <a href="{% if request.LANGUAGE_CODE != DEFAULT_LANGUAGE %}/{{request.LANGUAGE_CODE}}{% endif %}{% url 'services:article' slug=service.article.slug %}" class="we-will-do-item other-services-item">
                <h3 class="title-standart">{{service.name}}</h3>
            </a>
            {% endfor %}
        </div>

     </div>
  </section>
{% endblock %}