{% load static %}
{% load i18n %}
<section class="cases">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">{% trans 'Наши кейсы' %}</h2>
      </div>
      <div class="cases-row">
          {% for case in cases %}
            <div class="cases-item">
              <picture class="cases-item-phone">
                <!-- <source srcset="large.jpg" media="(max-width: 800px)" />
                <source srcset="medium.jpg" media="(max-width: 500px)" /> -->
                <img src="{{case.mob_image.photo.url}}" width="156" height="338" alt="Phone.">

              </picture>
              <picture class="cases-item-img">
                <div class="hover-block">
                  <h2 class="hover-block-title">{{case.title}}</h2>
                  <p class="hover-block-text">
                    {{case.text|safe}}
                  </p>
                  <p class="hover-block-text"></p>
                  <button class="btn btn-top btn-orange popup_btn">
                    {% trans 'Оставить заявку' %}
                  </button>
                </div>
                <!-- <source srcset="large.jpg" media="(max-width: 800px)" />
                <source srcset="medium.jpg" media="(max-width: 500px)" /> -->
                <img src="{{case.full_image.photo.url}}" width="446" height="445" alt="Photo.">
              </picture>
            </div>
          {% endfor %}
      </div>
      <div class="cases-all">
        <button class="btn cases-btn more_cases">See more</button>
      </div>
    </div>
  </section>