<section class="reviews">
    <div class="site-width">
      <div class="title-wrapper">
        <h2 class="title title-center">Отзывы</h2>
      </div>
      <div class="slider-wrapper">
          <div class="slider">
            <div class="slide">
              <div class="slide-item slide-video">

              </div>
              <div class="slide-item slide-text">
                <h3 class="slide-title">Name Surname</h3>
                <h4 class="slide-subtitle">Position</h4>
                <div class="slide-description">
                  <p class="slide-paragraph">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                  </p>
                </div>
              </div>
          </div>
          <div class="slide">
            <div class="slide-item slide-video">

            </div>
            <div class="slide-item slide-text">
              <h3 class="slide-title">Name Surname</h3>
              <h4 class="slide-subtitle">Position</h4>
              <div class="slide-description">
                <p class="slide-paragraph">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide-item slide-video">

            </div>
            <div class="slide-item slide-text">
              <h3 class="slide-title">Name Surname</h3>
              <h4 class="slide-subtitle">Position</h4>
              <div class="slide-description">
                <p class="slide-paragraph">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
              </div>
            </div>
          </div>
          <div class="slide">
            <div class="slide-item slide-video">

            </div>
            <div class="slide-item slide-text">
              <h3 class="slide-title">Name Surname</h3>
              <h4 class="slide-subtitle">Position</h4>
              <div class="slide-description">
                <p class="slide-paragraph">
                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco.
                </p>
              </div>
            </div>
          </div>

        </div>
      </div>
    </div>
  </section>